body {
  font-size: 20px;
  text-align: center;
  height: 100vh;
  font-family: 'Baloo Bhaijaan', cursive;
  background: #56e0ff
}

header {
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  margin: 0.3em;
}

h2, h3 {
  font-size: 1em;
  margin: 0.3em;
}

h6 {
  font-size: 0.5em;
  margin: 0.3em;
}

p {
  display: inline-block;
  margin: 0.3em;
}

span {
  display: inline-block;
  font-size: 2.5em;
}

input[type=submit] {
  padding: 0.5em;
  font-size: 1em;
  width: 4em;
  height: 10%;
  background: tomato;
  margin: 0.8em;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game {
  width: 8rem;
  height: 2rem;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.6em;
}

.game-wrapper {
    background-image: url('../images/blackjack-table.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.deal {
  display: none;
  width: 100%;
}

.deal > p {
  padding: .5em;
  margin: .6em;
}

.player {
  padding: 4em;
}

.bets {
  background: #ff0303;
  border-radius: 43px;
  text-shadow: 0px 0px 0px #666666;
  color: #3ffc00;
  font-size: 1em;
  padding: 1em 1.5em;
  text-decoration: none;
  margin: 10px;
}

.cards {
  background-image: url('../images/deck-of-cards.gif');
  width: 72px;
  height: 100px;
  display: inline-block;
}

/********************************
* Display messages
*********************************/

#new, #message, .game-over {
  z-index: 1000;
  position: fixed;
  display: none;
  bottom: 50%;
  margin: 0 auto;
  text-align: center;
}

#new{
  left: 30%;
  width: 50%;
}

#message, .game-over {
  bottom: 50%;
  left: 50%;
}

#message > h3 {
  font-size: 5em;
}

/******************************
* Red Hearts
******************************/
.red-ace-hearts {
  background-position-x: 0;
  background-position-y: 0;
}

.red-two-hearts {
  background-position-x: -72px;
  background-position-y: 0;
}

.red-three-hearts {
  background-position-x: -144px;
  background-position-y: 0;
}

.red-four-hearts {
  background-position-x: -216px;
  background-position-y: 0;
}

.red-five-hearts {
  background-position-x: -288px;
  background-position-y: 0;
}

.red-six-hearts {
  background-position-x: -360px;
  background-position-y: 0;
}

.red-seven-hearts {
  background-position-x: -432px;
  background-position-y: 0;
}

.red-eight-hearts {
  background-position-x: 432px;
  background-position-y: 0;
}

.red-nine-hearts {
  background-position-x: 360px;
  background-position-y: 0;
}

.red-ten-hearts {
  background-position-x: 288px;
  background-position-y: 0;
}

.red-jack-hearts {
  background-position-x: 216px;
  background-position-y: 0;
}

.red-queen-hearts {
  background-position-x: 144px;
  background-position-y: 0;
}

.red-king-hearts {
  background-position-x: 72px;
  background-position-y: 0;
}

/******************************
* Red Diamonds
******************************/
.red-ace-diamonds {
  background-position-x: 0;
  background-position-y: -100px;
}

.red-two-diamonds {
  background-position-x: -72px;
  background-position-y: -100px;
}

.red-three-diamonds {
  background-position-x: -144px;
  background-position-y: -100px;
}

.red-four-diamonds {
  background-position-x: -216px;
  background-position-y: -100px;
}

.red-five-diamonds {
  background-position-x: -288px;
  background-position-y: -100px;
}

.red-six-diamonds {
  background-position-x: -360px;
  background-position-y: -100px;
}

.red-seven-diamonds {
  background-position-x: -432px;
  background-position-y: -100px;
}

.red-eight-diamonds {
  background-position-x: 432px;
  background-position-y: -100px;
}

.red-nine-diamonds {
  background-position-x: 360px;
  background-position-y: -100px;
}

.red-ten-diamonds {
  background-position-x: 288px;
  background-position-y: -100px;
}

.red-jack-diamonds {
  background-position-x: 216px;
  background-position-y: -100px;
}

.red-queen-diamonds {
  background-position-x: 144px;
  background-position-y: -100px;
}

.red-king-diamonds {
  background-position-x: 72px;
  background-position-y: -100px;
}

/******************************
* Red Hearts
******************************/
.red-ace-hearts {
  background-position-x: 0;
  background-position-y: 0;
}

.red-two-hearts {
  background-position-x: -72px;
  background-position-y: 0;
}

.red-three-hearts {
  background-position-x: -144px;
  background-position-y: 0;
}

.red-four-hearts {
  background-position-x: -216px;
  background-position-y: 0;
}

.red-five-hearts {
  background-position-x: -288px;
  background-position-y: 0;
}

.red-six-hearts {
  background-position-x: -360px;
  background-position-y: 0;
}

.red-seven-hearts {
  background-position-x: -432px;
  background-position-y: 0;
}

.red-eight-hearts {
  background-position-x: 432px;
  background-position-y: 0;
}

.red-nine-hearts {
  background-position-x: 360px;
  background-position-y: 0;
}

.red-ten-hearts {
  background-position-x: 288px;
  background-position-y: 0;
}

.red-jack-hearts {
  background-position-x: 216px;
  background-position-y: 0;
}

.red-queen-hearts {
  background-position-x: 144px;
  background-position-y: 0;
}

.red-king-hearts {
  background-position-x: 72px;
  background-position-y: 0;
}

/******************************
* Black Clovers
******************************/
.black-ace-clovers {
  background-position-x: 0;
  background-position-y: -200px;
}

.black-two-clovers {
  background-position-x: -72px;
  background-position-y: -200px;
}

.black-three-clovers {
  background-position-x: -144px;
  background-position-y: -200px;
}

.black-four-clovers {
  background-position-x: -216px;
  background-position-y: -200px;
}

.black-five-clovers {
  background-position-x: -288px;
  background-position-y: -200px;
}

.black-six-clovers {
  background-position-x: -360px;
  background-position-y: -200px;
}

.black-seven-clovers {
  background-position-x: -432px;
  background-position-y: -200px;
}

.black-eight-clovers {
  background-position-x: 432px;
  background-position-y: -200px;
}

.black-nine-clovers {
  background-position-x: 360px;
  background-position-y: -200px;
}

.black-ten-clovers {
  background-position-x: 288px;
  background-position-y: -200px;
}

.black-jack-clovers {
  background-position-x: 216px;
  background-position-y: -200px;
}

.black-queen-clovers {
  background-position-x: 144px;
  background-position-y: -200px;
}

.black-king-clovers {
  background-position-x: 72px;
  background-position-y: -200px;
}

/******************************
* Black Spades
******************************/
.black-ace-spades {
  background-position-x: 0;
  background-position-y: 200px;
}

.black-two-spades {
  background-position-x: -72px;
  background-position-y: 200px;
}

.black-three-spades {
  background-position-x: -144px;
  background-position-y: 200px;
}

.black-four-spades {
  background-position-x: -216px;
  background-position-y: 200px;
}

.black-five-spades {
  background-position-x: -288px;
  background-position-y: 200px;
}

.black-six-spades {
  background-position-x: -360px;
  background-position-y: 200px;
}

.black-seven-spades {
  background-position-x: -432px;
  background-position-y: 200px;
}

.black-eight-spades {
  background-position-x: 432px;
  background-position-y: 200px;
}

.black-nine-spades {
  background-position-x: 360px;
  background-position-y: 200px;
}

.black-ten-spades {
  background-position-x: 288px;
  background-position-y: 200px;
}

.black-jack-spades {
  background-position-x: 216px;
  background-position-y: 200px;
}

.black-queen-spades {
  background-position-x: 144px;
  background-position-y: 200px;
}

.black-king-spades {
  background-position-x: 72px;
  background-position-y: 200px;
}

.back-cover {
  background-position-x: -360px;
  background-position-y: 100px;
}
